{% extends 'layouts/base.html' %}

{% block title %} API sample {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

     
    <div class="row">

      <div class="col-md-12 mt-4">
        <div class="card">
          <div class="card-header text-center pb-0 px-3">
            <h6 class="mb-0">
                <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;" data-bs-toggle="modal" data-bs-target="#createModal">
                    <i class="fas fa-plus text-success me-2" aria-hidden="true"></i>
                    Add Item
                </a>
            </h6>
          </div>

          <div class="card-body pt-4 p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
                  <span class="text-xs">Empty</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    {% include "includes/footer.html" %}

  </div>

  <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="create-form">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <div class="modal-body">
              <div class="mb-3">
                  <label for="name">id operation</label>
                  <input id="id_operation" class="form-control" name="id_operation">
                  <label for="name">date</label>
                  <input id="date" class="form-control" name="date">
                  <label for="name">exercice</label>
                  <input id="exercice" class="form-control" name="exercice">
                  <label for="name">mois</label>
                  <input id="mois" class="form-control" name="mois">
                  <label for="name">domaine</label>
                  <input id="domaine" class="form-control" name="domaine">
                  <label for="name">quinzaine</label>
                  <input id="quinzaine" class="form-control" name="quinzaine">
                  <label for="name">cultures</label>
                  <input id="cultures" class="form-control" name="cultures">
                  <label for="name">surface</label>
                  <input id="surface" class="form-control" name="surface">
                  <label for="name">tache principale</label>
                  <input id="tache_principale" class="form-control" name="tache_principale">
                  <label for="name">sous tache</label>
                  <input id="sous_tache" class="form-control" name="sous_tache">
                  <label for="name">effectif</label>
                  <input id="effectif" class="form-control" name="effectif">
                  <label for="name">eff_hr</label>
                  <input id="eff_hr" class="form-control" name="eff_hr">
              </div>
                <p id="create-error" class=" text-danger fw-bold"></p>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save changes">
        </div>
      </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form id="edit-form">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <div class="modal-body">
              <div class="mb-3">
                  <label for="name">id_operation</label>
                  <input readonly id="edit_id" class="form-control" name="id_operation">
                  <label for="name">surface</label>
                  <input id="edit_title" class="form-control" name="surface">
              </div>
                <p id="edit-error" class=" text-danger fw-bold"></p>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save changes">
        </div>
      </form>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>

    const token       = localStorage.getItem('token') || ''
    let data          = []
    let requestAction = 'post' // for update/add record

    // fetch data
    /*fetch('/api/ventilation/',{
        method: 'GET'
    })
        .then((response) => {
            if(!response.ok)
                return response.text().then(text => { throw new Error(text) })
            else
                return response.json()
        })
        .then((res) => {
            console.log('Received data:', res.data); // Log the received data
            const itemContainer = document.querySelector('.list-group');
            itemContainer.innerHTML = '';
            console.log(res);
            data = res.data

            res.data.map((d) => {
                
                //itemContainer.innerHTML += d.id + " -> " + d.title + "<br />";

                const item = `<li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                      <div class="d-flex flex-column">
                        <span class="text-xs">id_operation: <span class="text-dark ms-sm-2 font-weight-bold" id="model-id">${d.id}</span></span>
                        <span class="text-xs">surface: <span class="text-dark ms-sm-2 font-weight-bold" id="model-name">${d.title}</span></span>
                      </div>
                      <div class="ms-auto text-end">
                        <a class="btn btn-link text-danger text-gradient px-3 mb-0 delete" href="javascript:;" id="${d.id}"><i class="far fa-trash-alt me-2"></i>Delete</a>
                        <a class="btn btn-link text-dark px-3 mb-0 edit" href="javascript:;" id="${d.id}"
                              data-bs-toggle="modal" data-bs-target="#editModal"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                      </div>
                    </li>`

                  itemContainer.innerHTML += item;   

                //Object.keys(d).map((key) => {

                  //let ID   = key   ;
                  //let NAME = d[key];

                  //itemContainer.innerHTML += ID + " -> " + NAME + "<br />";
                    
                //})
            })
        })
        .catch((err) => {
            console.log(err)
        })
*/

    fetch('/api/ventilation/', {
      method: 'GET'
    })
    .then((response) => {
      if (!response.ok)
          return response.text().then(text => { throw new Error(text) });
      else
          return response.json();
    })
    .then((res) => {
      const itemContainer = document.querySelector('.list-group');
      itemContainer.innerHTML = '';
      console.log(res);
      data = res.data;
      console.log("Our data ", data)
      res.data.map((d) => {
        const date = new Date(d.date); // Assuming 'date' is the field name for the date column
        const formattedDate = date.toLocaleDateString(); // Format the date as needed
        const item = `<li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
            <div class="d-flex flex-column">
                <span class="text-xs">Date: <span class="text-dark ms-sm-2 font-weight-bold">${formattedDate}</span></span>
                <span class="text-xs">Domaine: <span class="text-dark ms-sm-2 font-weight-bold">${d.domaine}</span></span>
                <span class="text-xs">Cultures: <span class="text-dark ms-sm-2 font-weight-bold">${d.cultures}</span></span>
                <span class="text-xs">Surface: <span class="text-dark ms-sm-2 font-weight-bold">${d.surface}</span></span>
                <span class="text-xs">Tâche: <span class="text-dark ms-sm-2 font-weight-bold">${d.tache_principale}</span></span>
                <span class="text-xs">Sous tâche: <span class="text-dark ms-sm-2 font-weight-bold">${d.sous_tache}</span></span>
                <span class="text-xs">Effectif: <span class="text-dark ms-sm-2 font-weight-bold">${d.effectif}</span></span>
                <span class="text-xs">Effectif par hectar: <span class="text-dark ms-sm-2 font-weight-bold">${d.eff_hr}</span></span>
            </div>
            <div class="ms-auto text-end">
              <a class="btn btn-link text-danger text-gradient px-3 mb-0 delete" href="javascript:;" id="${d.id_operation}"><i class="far fa-trash-alt me-2"></i>Delete</a>
              <a class="btn btn-link text-dark px-3 mb-0 edit" href="javascript:;" id="${d.id_operation}"
                    data-bs-toggle="modal" data-bs-target="#editModal"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
            </div>
        </li>`;
        itemContainer.innerHTML += item;
      });
    })
    .catch(err => {console.log(err)});

    // create request   CREATE FORM
    document.getElementById('create-form').onsubmit = (e) => {
        e.preventDefault()
        fetch('/api/ventilation/',{
            method: 'POST',
            body: new FormData(e.target),
            headers: {"Authorization": `${token}`}
        })
            .then((response) => {
                if(!response.ok)
                    return response.text().then(text => { throw new Error(text) })
                else
                    return response.json()
            })
            .then((res) => {
                console.log(res)
                location.reload()
            })
            .catch((err) => {
                document.getElementById('create-error').textContent = err
            })
    }

    // EDIT FORM
    document.getElementById('edit-form').onsubmit = (e) => {
          e.preventDefault()
          const formData = new FormData(e.target)

          fetch(`/api/ventilation/${formData.get('id_operation')}/`,{

              method: 'PUT',
              body: formData,
              headers: {"Authorization": `${token}`}
          })
              .then((response) => {
                  if(!response.ok)
                      return response.text().then(text => { throw new Error(text) })
                  else
                      return response.json()
              })
              .then((res) => {
                  console.log(res)
                  location.reload()
              })
              .catch((err) => {
                  document.getElementById('edit-error').textContent = err
              })
      }

      document.querySelector('.list-group').addEventListener('click' , (e) => {

        if (e.target.nodeName === 'A') {
            if (e.target.className.includes('edit')) {
                editAction(e.target.id)
                requestAction = 'put'
            } else if (e.target.className.includes('delete'))
            {
              deleteAction(e.target.id)

            }
                

        }
      })

      const deleteAction = (id) => {

          //Specify the model name
          const modelName = 'ventilation'
          fetch(`/api/${modelName}/${id}/`,{
              method: 'DELETE',
              headers: {"Authorization": `${token}`}
          })
              .then(response => response.json())
              .then(res => {
                  location.reload()
                  console.log(res)
              })
              .catch(err => {console.log(err)})
      }

      const editAction =  (id) => {
          // get data from template
          const item = data.filter(d => d.id_operation.toString() === id)[0];
          console.log(' EDIT -> ' + item.id_operation + ' / ' + item.surface )
          document.getElementById('edit_title').value = item.surface
          document.getElementById('edit_id').value = item.id_operation
      }


  
  </script>
  <script>
    // Get the current date
    const currentDate = new Date();
    
    // Format the date as YYYY-MM-DD (ISO format)
    const formattedDate = currentDate.toISOString().split('T')[0];
    
    // Set the default value of the date input field
    document.getElementById('date').value = formattedDate;
  </script>

{% endblock javascripts %}
